
$base-color: #222621;
$text-color: rgb(155, 155, 155);

.fav-card {
  display: flex;
  border: 1px solid pink;
  // background-color: $text-color;
  // color: $base-color;
  // width: 200px;
  // height: 200px;
  // margin: 0 15px 15px 15px;
  margin: 15px;
}



.fav-card-inner-wrapper {
  width: 100%;
  // height: 380px;
  margin: 5px;
  display: flex;
  // margin: 10px;
  // flex-grow: 1;
}

.fav-card-content-wrapper {
  width: 100%;
  margin: 10px;
}

.fav-card-image {
  object-fit: cover;
  max-height: 300px;
  max-width: 300px;
  margin: 10px;
}

.fav-card-release-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fav-card-artist-name {
  font-size: 38px;
}

.fav-card-label,
.fav-card-release-title {
  font-size: 20px;
}

.fav-card-info-section {
  background-color: $text-color;
  color: $base-color;
  padding: 5px;
}

.fav-card-tracks-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.fav-track-wrapper {
  display: flex;
  height: 20px;
  color: pink;
  margin: 3px 0px;
  background-color: $base-color;
  border: 1px solid pink;
  font-size: 15px;
  align-items: center;
  cursor: pointer;
  transition: 0.35s;
  // border: 1px dashed orange;
}

.fav-track-wrapper:hover {
  background-color: pink;
  color: $base-color;
  transition: 0.35s;
}


.fav-play-button {
  padding: 0 20px;
  // background-color: lightgreen;
  cursor: pointer;
}

