@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

$base-color: #222621;
$text-color: rgb(155, 155, 155);

.home-feature-wrapper {
  display: flex;
  width: 100%;
  // border: 1px dotted yellow;
  display: flex;
  border-bottom: 2px solid #AB9F36;
  animation: fade-in-stall 3s;
  &:hover {
    animation-play-state: running;
  }
  height: 575px;
}


//* MIDDLE SECTION, CONTAINS SLIDER
.home-feature-content {
  // border: 2px solid #AB9F36;
  // background-color: #AB9F36;
  // background-color: $text-color;
  background-color: pink;
  width: 400px;
  display: flex;
  justify-content: center;
  // animation: fade-in-stall 3s;
  
}


//* WRAPS EACH SLIDE
.slide-content {
  display: flex;
  // flex-wrap: wrap;
  // background-color: lightgreen;
}

.slick-initialized .slick-slide {
  display: flex;
}

//* ARTWORK

.home-feature-artwork-wrapper {
  width: 350px;
  // margin: 10px;
  // flex-grow: 1;
}

.home-feature-image {
  object-fit: cover;
  // max-width: 400px;
  max-height: 400px;
}


//* INFO

.home-feature-info-wrapper {
  width: 350px;
  height: 150px;
}

.featured-album-artist {
  // background-color: $text-color;
  color: $base-color;
  font-size: 45px;
  padding: 5px;
}

.featured-album-name,
.featured-label-name {
  font-size: 25px;
  padding: 10px;
  color: $base-color;
}


.slick-slide {
  visibility: hidden;
}
.slick-slide.slick-active {
  visibility: visible;
}

.slick-list {
  padding: 0px !important;
}

.slick-dots {
  position: static;
}

.slick-slider {
  min-width: 0px;
}

.slick-track {
  min-width: 0px;
}

div.home-feature-content {
  padding: 0px;
}

//* FEATURED

.featured-title-wrapper {
  width: 500px;
  background-color: #DEBBFB;
  display: flex;
  justify-content: center;
  align-items: center;
  // padding: 40px 10px;
  // margin: 10px;
  // animation: fade-in 3s;
}

.feature-box-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-family: 'Amiri', serif;
  color: $base-color;
  font-size: 50px;
  // height: 300px;
  padding: 10px;
  display: block;
}

.featured-see-more {
  width: 100%;
  // margin: 10px;
}


@keyframes fade-in-stall

{0%{opacity:0}
10%{opacity:0}
100%{opacity:1}}
