$base-color: #222621;
$text-color: rgb(155, 155, 155);

.footer {
  background-color: $text-color;
  color: $base-color;
  height: 72px;
  display: flex;
  align-items: center;
  // justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  transition: bottom 0.5s;
}

// .player-wrapper {
//   width: 100vw;
// }

.player-wrapper {
  display: flex;
  align-items: center;
  width: 100vw;
}

.audio-player-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.audio-player {
  width: 100%;
  font-size: 20px;
  color: $text-color;
}

.footer-wrapper {
  height: 200px;
  width: 100%;
  bottom: 0;
}

.player-close-button {
  cursor: pointer;
  position: fixed;
  right: 20px;
}

audio {
  // filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
  width: 70%;
  height: 25px;
}

audio::-webkit-media-controls-panel {
  background-color: $text-color;
}

// .player-wrapper {
//   display: flex;
//   align-items: center;
//   width: 100%;
// }

audio:focus {
  outline: none;
}



.player-info-wrapper {
  width: 200px;
  // margin: 0 3px;
}

.player-title,
.player-artist {
  padding: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

//* IMAGE

.player-image-wrapper {
  width: 60px;
  justify-self: flex-start;
  margin: 5px 3px 0px 6px;
}

.player-image {
  object-fit: cover;
  max-height: 60px;
  max-width: 60px;
}