$base-color: #222621;
$text-color: rgb(155, 155, 155);

.footer {
  background-color: $text-color;
  color: $base-color;
  height: 72px;
  display: flex;
  align-items: center;
  // justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  transition: bottom 0.5s;
}

.audio-player {
  width: 100%;
  font-size: 20px;
  color: $text-color;
}

.footer-wrapper {
  height: 200px;
  width: 100%;
  bottom: 0;
}

.player-close-button {
  cursor: pointer;
  position: fixed;
  right: 20px;
}



.player-info-wrapper {
  width: 170px;
  margin: 0 30px;
}

.player-title,
.player-artist {
  padding: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

//* IMAGE

.player-image-wrapper {
  width: 60px;
  justify-self: flex-start;
  margin: 5px 3px 0px 6px;
}

.player-image {
  object-fit: cover;
  max-height: 60px;
  max-width: 60px;
}