$base-color: #222621;
$text-color: rgb(155, 155, 155);

.footer {
  background-color: $text-color;
  color: $base-color;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.audio-player {
  width: 600px;
  font-size: 20px;
  color: $text-color;
}

.footer-wrapper {
  height: 200px;
  width: 100%;
  bottom: 0;
}

.player-close-button {
  cursor: pointer;
}