$base-color: #222621;
$text-color: rgb(155, 155, 155);

.product-grid-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-around;
  // margin: 10px;
}





.custom-select-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}


.custom-select {
  // width: 220px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-select select {
  font-family: 'Amiri', serif;
  font-size: 20px;
  text-transform: uppercase;
  color: $base-color;
  background-color: pink;
  border: none;
  padding: 2px;
  // appearance: none;
}

select { width: 400px; text-align-last:center; }
// // .custom-select select {
// //   // display: none; /*hide original SELECT element: */
// // }

// .select-selected {
//   background-color: $base-color;
// }

// .select-selected:after {
//   position: absolute;
//   content: "";
//   top: 14px;
//   right: 10px;
//   width: 0;
//   height: 0;
//   border: 6px solid transparent;
//   border-color: #fff transparent transparent transparent;
// }