$base-color: #222621;
$text-color: rgb(155, 155, 155);
$green-color: #AB9F36;

.product-grid-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 8px 0;
}

//* FOR 2 COLUMNS
@media (min-width: 600px) {
  .product-grid {
    width: 470px;
  } 
}

//* FOR 3 COLUMNS
@media (min-width: 832px) {
  .product-grid {
    width: 704px;
  } 
}

//* FOR 4 COLUMNS
@media (min-width: 1020px) {
  .product-grid {
    width: 938px;
  } 
}




.custom-select-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}


.custom-select {
  // width: 220px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-select select {
  font-family: 'Amiri', serif;
  font-size: 20px;
  text-transform: uppercase;
  color: $base-color;
  background-color: pink;
  border: none;
  padding: 2px;
  // appearance: none;
}

select { width: 400px; text-align-last:center; }
// // .custom-select select {
// //   // display: none; /*hide original SELECT element: */
// // }

// .select-selected {
//   background-color: $base-color;
// }

// .select-selected:after {
//   position: absolute;
//   content: "";
//   top: 14px;
//   right: 10px;
//   width: 0;
//   height: 0;
//   border: 6px solid transparent;
//   border-color: #fff transparent transparent transparent;
// }