$base-color: #222621;
$text-color: rgb(155, 155, 155);


.navbar-wrapper {
  color: $text-color;
  background-color: $base-color;
  display: flex;
  justify-content: space-between;
  height: 30px;
  align-items: center;
  border-bottom: 1px solid $text-color;
}


.navbar-option {
  text-decoration: none;
  color: $text-color;
  padding: 5px 15px;
  cursor: pointer;
  display: flex;
}

.navbar-section {
  display: flex;
}

.fa-record-vinyl {
  font-size: 14px;
  margin: 0 4px;
}
