$base-color: #222621;
$text-color: rgb(155, 155, 155);

.new-releases-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-releases-title {
  color: #EF9C00;
  // color: $base-color;
  font-size: 55px;
  height: 65px;
  font-family: 'Amiri', serif;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 20px 0 0px;
  // border-bottom: 1px solid #EF9C00;
}



.product-panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
  width: 900px;
}


//* FOR 2 COLUMNS
@media (min-width: 600px) {
  .product-panel {
    width: 470px;
  } 
}

//* FOR 3 COLUMNS
@media (min-width: 832px) {
  .product-panel {
    width: 704px;
  } 
}

//* FOR 4 COLUMNS
@media (min-width: 1020px) {
  .product-panel {
    width: 938px;
  } 
}
