$base-color: #222621;
$text-color: rgb(155, 155, 155);

.new-releases-wrapper {
  width: 100%;
  height: 600px;
}

.new-releases-title {
  color: #EF9C00;
  // color: $base-color;
  font-size: 55px;
  height: 65px;
  font-family: 'Amiri', serif;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  // border-bottom: 1px solid #EF9C00;
}



.product-panel {
  display: flex;
  justify-content: flex-end;
}




