$base-color: #222621;
$text-color: rgb(155, 155, 155);
$green-color: #AB9F36;
$purple-color: #DEBBFB;


//* Wrapper for all contain within section
.product-section-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


//* Title section
.product-section-title {
  font-size: 55px;
  height: 65px;
  font-family: 'Amiri', serif;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 20px 0 0px;
}

.new-releases-title {
  color: #EF9C00;
}

.label-feature-title {
  color: $purple-color;
}


//* 4-product set width product panel
.product-panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
  width: 990px;
}




