$green-color: #AB9F36;

.product-card {
  display: flex;
  border: 2px solid $green-color;
  // width: 200px;
  // height: 200px;
  margin: 10px;
  transition: 0.35s;
}

.product-card:hover {
  border: 2px solid #DEBBFB;
  transition: 0.35s;
}


//* ARTWORK

.product-card-inner-wrapper {
  width: 200px;
  height: 280px;
  margin: 5px;
  // margin: 10px;
  // flex-grow: 1;
}

.product-card-image {
  object-fit: cover;
  max-height: 200px;
  max-width: 200px;
}

.product-card-release-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// p {
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
// }