$base-color: #222621;
$text-color: rgb(155, 155, 155);


.showpage-top-section {
  display: flex;
  justify-content: center;
  cursor: default;
  // border: 1px dotted dodgerblue;
}

.showpage-left-section,
.showpage-right-section {
  width: 400px;
  margin: 35px 15px;
}



// .showpage-left-section {
//   border: 1px dotted yellow;
// }

// .showpage-right-section {
//   border: 1px dotted green,
// }





.showpage-artwork-wrapper {
  width: 300px;
  // margin: 10px;
  // flex-grow: 1;
}

.showpage-artwork {
  object-fit: cover;
  // max-width: 400px;
  max-height: 400px;
  max-width: 400px;
}

.showpage-description {
  text-transform: none;
  white-space: pre-line;
}

.showpage-artist-name {
  font-size: 50px;

  // padding: 10px;
}

.showpage-artist-name,
.showpage-release-title,
.showpage-release-label,
.showpage-description {
  padding: 7px;
}

.showpage-artist-name,
.showpage-release-title,
.showpage-release-label {
  background-color: $text-color;
  color: $base-color;
}

.showpage-release-title,
.showpage-release-label {
  font-size: 20px;
}

.showpage-description {
  padding: 20px 7px;
  font-size: 17px;
}

.showpage-tracks-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.track-wrapper {
  display: flex;
  height: 40px;
  width: 830px;
  color: #EF9C00;
  margin: 10px 150px;
  background-color: $base-color;
  font-size: 30px;
  border: 1px solid #EF9C00;
  cursor: pointer;
  transition: 0.35s;
}

.track-wrapper:hover {
  background-color: #EF9C00;
  color: $base-color;
  transition: 0.35s;
}

.play-button {
  padding: 0 20px;
  // background-color: lightgreen;
  cursor: pointer;
}

// .audio {
//   background-color: $text-color;
// }

audio {
  // filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
  width: 600px;
  height: 25px;
}

audio::-webkit-media-controls-panel {
  background-color: $text-color;
}

.player-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

audio:focus {
  outline: none;
}

// .player-image-wrapper {
//   position: absolute;
//   margin-left: 20px;
// }

.handle-favourite {
  margin-top: 20px;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  // text-transform: none;
  font-size: 16px;
}

.add-to-collection,
.remove-from-collection {
  padding: 3px;
  display: inline-block;
}

.add-to-collection {
  border: 1px solid  #AB9F36;
  color: #AB9F36;
  transition: 0.35s;
}

.add-to-collection:hover {
  background-color: #AB9F36;
  color: $base-color;
  transition: 0.35s;
}

.remove-from-collection {
  color:  #DEBBFB;
  background-color: $base-color;
  transition: 0.35s;
  border: 1px solid   #DEBBFB;
}

.remove-from-collection:hover {
  background-color: #DEBBFB;
  color: $base-color;
  transition: 0.35s;
}

.release-play-icon {
  color: #EF9C00;
}

// svg {
//   fill: #EF9C00;
//   width: 15px;
//   height: 15px;
// }

.add-to-collection-blocked {
  border: 1px solid  $text-color;
  color: $text-color;
  transition: 0.35s;
  padding: 3px;
  display: inline-block;
  cursor: default;
}