@import '_featured-slider.scss';
@import '_header.scss';
@import '_scrollBanner.scss';
@import '_home.scss';
@import '_footer.scss';

@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');

$base-color: #222621;
$text-color: rgb(155, 155, 155);

body {
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
}

html, body {
  margin: 0;
  height: 100%;
  background-color: $base-color;
  color: $text-color;
}

a {
  color: inherit;
  text-decoration: none;
}