@import '_featured-slider.scss';
@import '_header.scss';
@import '_scroll-banner.scss';
@import '_home.scss';
@import '_footer.scss';
@import '_product-section.scss';
@import '_product-card.scss';
@import '_show-page.scss';
@import '_genre-page';
@import '_login.scss';
@import 'favourite-card';
@import 'profile-page';

@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');

$base-color: #222621;
$text-color: rgb(155, 155, 155);

body {
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
}

html, body {
  margin: 0;
  height: 100%;
  background-color: $base-color;
  color: $text-color;
}

a {
  color: inherit;
  text-decoration: none;
}


//* WRAP A SECTION IN A DIV WITH THE CLASSNAME PARALLAX
.parallax {
  background: url('https://images.unsplash.com/photo-1534271057238-c2c170a76672?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80');
  // min-height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}